html, body {
    width: 100%;
    height: 100%;

    background-color: #fff;
}
/* bgzyx -- start */
.bgzyx {
/*    position: relative;

    width: 100%;
    height: 680px;
*/}
/* bgzyx -- end */


.active {
  color: red;
}
.homebar {
	color: black;
/*	position: absolute;
	left: 0;
	top: 20;
	width: 100px;
	height: 100px;
*/
}
.zyxmainbar {
	color: green;
/*	position: absolute;
	left: 40;
	top: 40;
	width: 100px;
	height: 100px;
*/
}
.secondpagebar {
	color: blue;
/*	position: absolute;
	left: 60;
	top: 60;
	width: 100px;
	height: 100px;
*/
}
/* navbar -- start */
.navbarzyx {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 101;

    width: 100%;

    text-align: center;
}
/* navbar -- end */
